body{margin: 0; padding: 0;
box-sizing: border-box;}

$color-main: #dadbf1;

.container{
    display: grid;
    grid-template-columns: repeat( 1fr);
    grid-template-rows: 4rem 22rem 45rem 15rem;
    grid-template-areas: "header"
"main"
"menu"
"footer";}

.container .header{
    background-color: black;
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-between ;
    }
    
.main{background-color: $color-main;
grid-area: main;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;}

.menu{
background-color:white;
grid-area: menu;
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
align-content: center;
gap: 3rem;
row-gap: 5.5rem;}
    
.footer{
background-color: black;
grid-area: footer;
display: flex;
align-items: center;
gap: 5rem;
}

 @media (max-width:768px){
    .container .menu .card{
        width: 100%;
        flex-wrap: wrap-reverse;
    }
}